<!DOCTYPE html>
<html>
  <head>
    <title>Perre_admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render partial: 'admin/shared/nav' %>
    <%= render partial: 'admin/shared/flash' %>
    <%= yield %>
  </body>
</html>
